<aside class="sidebar">
  <div class="sidebar-container">
    <ul class="nav sidebar-list">
      <li class="list-item " routerLinkActive="active"><i class="fa fa-building" aria-hidden="true"></i><a class="list-item__link" [routerLink]="['/system', 'bill']">Счет</a></li>
      <li class="list-item" routerLinkActive="active"><i class="fa fa-bolt" aria-hidden="true"></i><a class="list-item__link" [routerLink]="['/system', 'history']">История</a></li>
      <li class="list-item" routerLinkActive="active"><i class="fa fa-archive" aria-hidden="true"></i><a class="list-item__link" [routerLink]="['/system', 'planing']">Планирование</a></li>
      <li class="list-item" routerLinkActive="active"><i class="fa fa-plus-square-o" aria-hidden="true"></i><a class="list-item__link" [routerLink]="['/system', 'records']">Запись</a></li>
    </ul>
  </div>
</aside>
