$bgc: #3a4553;
$bgc1: #986432;
$bgc-header: #3a4553;

$font: #fff;

.obj {
	background-color: $bgc;
	height: 100%;
}

.main-wrapper {
	display: flex;
	max-width: 1140px;
	width: 100%;
	min-height: 800px;
	height: 100%;
	margin: 0 auto;
}

.app {
	display: block;
	width: 100%;
	height: 100%;
}




